body {
   background-color: #121826;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.container-formulario {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    width: 470px;
    height: 400px;
    background-color: #212936;
    margin-top: 70px;
    margin-bottom: 0;
    border: 1px solid;
    border-radius: 10px;
    border-color: #4D5562;
}

h2 {
    font-family: "inter", sans-serif;
    font-size: 20px;
    align-self: flex-start;
    margin-left: 45px;
    color: #E5E7EB;
    margin-bottom: 40px;
}


.opciones {
    color: #A1A1A9;
    width: 370px;
    height: 40px;
    margin-top: 7px;
    background-color: #212936;
    border: 2px solid;
    border-color: #4D5562;
    border-radius: 10px;
    padding: 10px;
}

.opciones:focus {
    background-color: #652CD1;
    color: white;
}

.label {
    color: #A1A1A9;
}

.button {
    width: 130px;
    height: 40px;
    border-radius: 20px;
    border: 0;
    background-color: #652CD1;
    color:  #E5E7EB;
}

.circulo {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%; 
    background-color: #4D5562;
    margin-right: 10px;
}

.circulo1 {
    margin-left: 30px;
    background-color: #652CD1;
}

 p {
    margin-right: 100px;
    margin-top: 0;
    color: #4D5562;
 }

/*formulario-2*/

.input:focus {
    background-color: #652CD1;
    color: white;
}

.circulo2 {
    background-color: #652CD1;
}

/*formulario3*/

.circulo3 {
    background-color: #652CD1;
}

.tables {
    font-size: 20px;
    align-self: flex-start;
    margin-left: 45px;
    color: #A1A1A9;
    margin-top: 0%;
}

#topics {
    font-size: 20px;
    margin-left: 50px;
    align-self: flex-start;
    color: #A1A1A9;
    margin-top: 0%;
}

#h2 {
    margin-bottom: 0%;
}

.salidas {
    color: white;
}

#button-f3 {
    margin-top: 30px;
    margin-bottom: 0%;
}

.button-azul {
    background-color: #652CD1;
    color: white;
}

.punto-blanco {
    display: inline-block;
    width: 5px;
    height: 5px;
    margin-bottom: 3px;
    margin-right: 5px;
    border-radius: 50%;
    background-color: white;
}